@model ASP_NET_Core_MVC_Academy.Models.Student

@{
	ViewData["Title"] = "Details";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>
<h5>Route -> Students/Details</h5>

<div>
	<h5>Студенты</h5>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model=>model.Name)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model=>model.Name)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Age)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Age)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.EMail)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.EMail)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Group.Name)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Group.Name)
		</dd>
	</dl>
</div>
<div>
	<a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Edit</a> 
	<a asp-action="Index" class="btn btn-primary">Back to Students' List</a>
</div>